# Вариант задания

Номер варинта - 10

Номер задачи №1 - 10

Номер задачи №2 - 30

### Дополнительные требования по группам:

Для студентов групп ИУ5-23М, ИУ5И-23М - для произвольной колонки данных построить график "Ящик с усами (boxplot)".

### Каждая задача предполагает использование набора данных. Набор данных выбирается Вами произвольно с учетом следующих условий:

- Вы можете использовать один набор данных для решения всех задач, или решать каждую задачу на своем наборе данных.
- Набор данных должен отличаться от набора данных, который использовался в лекции для решения рассматриваемой задачи.
- Вы можете выбрать произвольный набор данных (например тот, который Вы использовали в лабораторных работах) или создать собственный набор данных (что актуально для некоторых задач, например, для задач удаления псевдоконстантных или повторяющихся признаков).
- Выбранный или созданный Вами набор данных должен удовлетворять условиям поставленной задачи. Например, если решается задача устранения пропусков, то набор данных должен содержать пропуски.

# Условия задач

### Задача № 10

Для набора данных проведите устранение пропусков для одного (произвольного) категориального признака с использованием метода заполнения наиболее распространенным значением.

### Задача № 30

Для набора данных проведите удаление повторяющихся признаков.

### Текстовое описание датасета

В качестве датасета будем использовать набор данных, содержащий данные с информацией об автомобиле.Данный набор доступен по адресу:https://www.kaggle.com/datasets/tawfikelmetwally/automobile-dataset

Набор данных имеет следующие атрибуты:

- Name: Уникальный идентификатор для каждого автомобиля.
- MPG: Эффективность использования топлива измеряется в милях на галлон.
- Cylinders: количество цилиндров в двигателе.
- Displacement: объем двигателя с указанием его размера или мощности.
- Horsepower: Выходная мощность двигателя.
- Weight: Вес автомобиля.
- Acceleration: Возможность увеличения скорости, измеряемая в секундах.
- Model Year: год выпуска модели автомобиля.
- Origin: Страна или регион происхождения каждого автомобиля.

### Импорт библиотек

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="ticks")

### Загрузка данных

In [2]:
data = pd.read_csv('Automobile.csv')

### Первичный анализ данных

Выведем первые 5 строк датасета:

In [3]:
data.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

Определим размер датасета:

In [4]:
data.shape

(398, 9)

In [5]:
data.dtypes

name             object
mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
dtype: object

Проверим наличие пропусков:

In [6]:
data.isnull().sum()

name            0
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

### Задача № 10

Удалим колонки, содержащие пустые значения:

In [7]:
data_new_1 = data.dropna(axis=1, how='any')
(data.shape, data_new_1.shape)

((398, 9), (398, 8))

Выведем первые строки датасета на экран:

In [8]:
data_new_1

,name,mpg,cylinders,displacement,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,2720,19.4,82,usa

Удалим строки, содержащие пустые значения:

In [9]:
data_new_2 = data.dropna(axis=0, how='any')
(data.shape, data_new_2.shape)

((398, 9), (392, 9))

In [10]:
data_new_2.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

Заполним все пропущенные значения нулями:

In [11]:
data_new_3 = data.fillna(0)

Выведем на экран:

In [24]:
data_new_3.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

### Задача № 30

Выведем первые 20 строк:

In [61]:
data.head(20)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
5,ford galaxie 500,15.0,8,429.0,198.0,4341,10.0,70,usa
6,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
7,plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
8,pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
9,amc ambassador dpl,15.0,8,390.0,190.0,3850,8.5,70,usa
10,dodge challenger se,15.0,8,383.0,170.0,3563,10.0,70,usa
11,plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
12,chevrolet monte carlo,15.0,8,400.0,150.0,3761,9.5,70,usa
13,buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
14,toyota corona mark ii,24.0,4,113.0,95.0,2372,15.0,70,japan
15,plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
16,amc hornet,18.0,6,199.0,97.0,2774,15.5,70,usa
17,ford maverick,21.0,6,200.0,85.0,2587,16.0,70,usa
18,datsun pl510,27.0,4,97.0,88.0,2130,14.5,70,japan
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46.0,1835,20.5,70,europe

Будем рассматривать столбец MPG

Определим уникальные значения для этого столбца:

In [52]:
data['mpg'].unique()

array([18. , 15. , 16. , 17. , 14. , 24. , 22. , 21. , 27. , 26. , 25. ,
       10. , 11. ,  9. , 28. , 19. , 12. , 13. , 23. , 30. , 31. , 35. ,
       20. , 29. , 32. , 33. , 17.5, 15.5, 14.5, 22.5, 24.5, 18.5, 29.5,
       26.5, 16.5, 31.5, 36. , 25.5, 33.5, 20.5, 30.5, 21.5, 43.1, 36.1,
       32.8, 39.4, 19.9, 19.4, 20.2, 19.2, 25.1, 20.6, 20.8, 18.6, 18.1,
       17.7, 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 21.6, 16.2,
       19.8, 22.3, 17.6, 18.2, 16.9, 31.9, 34.1, 35.7, 27.4, 25.4, 34.2,
       34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 41.5, 38.1, 32.1, 37.2, 26.4,
       24.3, 19.1, 34.3, 29.8, 31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3,
       43.4, 36.4, 44.6, 40.9, 33.8, 32.7, 23.7, 23.6, 32.4, 26.6, 25.8,
       23.5, 39.1, 39. , 35.1, 32.3, 37.7, 34.7, 34.4, 29.9, 33.7, 32.9,
       31.6, 28.1, 30.7, 24.2, 22.4, 34. , 38. , 44. ])

Удалим дубликаты столбца MPG:

In [57]:
data_unique_mpg = data.drop_duplicates(subset=['mpg'])

Выведем полученный результат:

In [62]:
data_unique.head(20)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
6,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
14,toyota corona mark ii,24.0,4,113.0,95.0,2372,15.0,70,japan
15,plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
17,ford maverick,21.0,6,200.0,85.0,2587,16.0,70,usa
18,datsun pl510,27.0,4,97.0,88.0,2130,14.5,70,japan
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46.0,1835,20.5,70,europe
20,peugeot 504,25.0,4,110.0,87.0,2672,17.5,70,europe
25,ford f250,10.0,8,360.0,215.0,4615,14.0,70,usa
27,dodge d200,11.0,8,318.0,210.0,4382,13.5,70,usa
28,hi 1200d,9.0,8,304.0,193.0,4732,18.5,70,usa
30,chevrolet vega 2300,28.0,4,140.0,90.0,2264,15.5,71,usa
33,amc gremlin,19.0,6,232.0,100.0,2634,13.0,71,usa
42,dodge monaco (sw),12.0,8,383.0,180.0,4955,11.5,71,usa
43,ford country squire (sw),13.0,8,400.0,170.0,4746,12.0,71,usa
49,mercury capri 2000,23.0,4,122.0,86.0,2220,14.0,71,usa
51,peugeot 304,30.0,4,79.0,70.0,2074,19.5,71,europe